<span class="pull-right well well-small">  Book no. : {{id}}  <li class="divider-vertical"> </li><a class="permalink" href="/{{id}}/"> <i class="icon-edit"></i> Edit</a> </span>

 <table class="table table-bordered">

<tr class="success">
<tr> <td>Name of the Book</td> <td> {{ message }} </td> </tr>
<tr> <td>Author</td> <td>{{author}}  </td> </tr>
<tr> <td>Status</td> <td> {{flag}} </td> </tr>
</tr>

</table>
<hr/>