<p class="message">
<input type="text" id="message" value="{{ message }}" /></p>
<input type="text" id="author" value="{{ author }}"  /> </p>
<select id="flag">
<option value="Read">Read</option>
<option value="Unread">Unread</option>
</select>
<p><span class="btn btn-success"> <button class="save">Update Details</button> </span></p>
<p><span class="btn btn-danger"> <button class="delete">Delete</button> </span></p>

