 <div class="row-fluid">
    <div class="span3 well" >
    <div id="input" >
  <h3>Add a New Book Here</h3>
  <textarea id="message" placeholder="Book's name"></textarea>
  <input type="text" id="author" placeholder="Author's Name">
  <span class="label label-info"> STATUS </span>
 <select id="flag">
<option value="Read">Read</option>
<option value="Unread">Unread</option>
</select>
  <button class="book">Book</button>
</div>
    </div>
    <div class="span8">
    	<div class="hero-unit">

    	<h1>Shelfari 1.0</h1>
 <p>A simple CRUD app created using Backbone.js and Django. Django models are accessed by Backbone using Tastypie a simple and powerfull REST API building tool for Django.</p>
        <p><a class="btn btn-primary btn-large">Follow The Code on Github</a></p>
    	</div>
       <div class="well"> <h2> Booklist </h2> <ul id="books"> </div>
        </ul>

    </div>
    </div>